<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright 2019 The Redaction Project Authors (https://github.com/jeremymickel/Redaction)</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Redaction 10</string>
	<key>guidelines</key>
	<array/>
	<key>italicAngle</key>
	<integer>-21</integer>
	<key>openTypeHheaAscender</key>
	<integer>900</integer>
	<key>openTypeHheaDescender</key>
	<integer>-300</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Jeremy Mickel, Forest Young</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://www.mckltype.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://openfontlicense.org</string>
	<key>openTypeNameManufacturer</key>
	<string>MCKL</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://www.mckltype.com</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>900</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-300</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>MCKL</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1000</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>300</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptSlantAngle</key>
	<integer>-21</integer>
	<key>postscriptStemSnapH</key>
	<array/>
	<key>postscriptStemSnapV</key>
	<array/>
	<key>styleMapStyleName</key>
	<string>italic</string>
	<key>styleName</key>
	<string>Italic</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>4</integer>
	<key>xHeight</key>
	<integer>470</integer>
</dict>
</plist>
