<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Y</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-70</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>j</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-105</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-175</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2._back</key>
      <integer>-140</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-175</integer>
      <key>public.kern2._slash</key>
      <integer>35</integer>
      <key>public.kern2.b</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-105</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-105</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-70</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-175</integer>
      <key>public.kern2.J</key>
      <integer>-175</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._amp</key>
      <integer>-70</integer>
      <key>public.kern2._at</key>
      <integer>-70</integer>
      <key>public.kern2._period</key>
      <integer>-140</integer>
      <key>public.kern2._slash</key>
      <integer>-105</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.i</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.p</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-140</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-210</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-175</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-175</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-140</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>35</integer>
      <key>public.kern2._period</key>
      <integer>-70</integer>
      <key>public.kern2._slash</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-140</integer>
      <key>public.kern2.J</key>
      <integer>-175</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2._amp</key>
      <integer>-70</integer>
      <key>public.kern2._at</key>
      <integer>-70</integer>
      <key>public.kern2._period</key>
      <integer>-175</integer>
      <key>public.kern2._slash</key>
      <integer>-140</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-105</integer>
      <key>public.kern2.Y</key>
      <integer>-105</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-105</integer>
      <key>public.kern2._colon</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>-70</integer>
      <key>public.kern2._quote</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.b</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2._amp</key>
      <integer>35</integer>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-105</integer>
      <key>public.kern2.J</key>
      <integer>-140</integer>
      <key>public.kern2._amp</key>
      <integer>-35</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-105</integer>
      <key>public.kern2._slash</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-105</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2._amp</key>
      <integer>-35</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._colon</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-70</integer>
      <key>public.kern2._slash</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-35</integer>
      <key>public.kern2.i</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.p</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-175</integer>
      <key>public.kern2.J</key>
      <integer>-175</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._amp</key>
      <integer>-70</integer>
      <key>public.kern2._at</key>
      <integer>-105</integer>
      <key>public.kern2._colon</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-140</integer>
      <key>public.kern2._slash</key>
      <integer>-105</integer>
      <key>public.kern2.a</key>
      <integer>-105</integer>
      <key>public.kern2.f</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.i</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-105</integer>
      <key>public.kern2.p</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.x</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2._amp</key>
      <integer>-35</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._colon</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>-70</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.b</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-105</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-140</integer>
      <key>public.kern2.J</key>
      <integer>-175</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._amp</key>
      <integer>-105</integer>
      <key>public.kern2._at</key>
      <integer>-140</integer>
      <key>public.kern2._colon</key>
      <integer>-70</integer>
      <key>public.kern2._dash</key>
      <integer>-70</integer>
      <key>public.kern2._period</key>
      <integer>-140</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2._slash</key>
      <integer>-105</integer>
      <key>public.kern2.a</key>
      <integer>-105</integer>
      <key>public.kern2.f</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-105</integer>
      <key>public.kern2.i</key>
      <integer>-70</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-105</integer>
      <key>public.kern2.o</key>
      <integer>-105</integer>
      <key>public.kern2.p</key>
      <integer>-105</integer>
      <key>public.kern2.s</key>
      <integer>-105</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-105</integer>
      <key>public.kern2.v</key>
      <integer>-105</integer>
      <key>public.kern2.x</key>
      <integer>-105</integer>
      <key>public.kern2.z</key>
      <integer>-105</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._amp</key>
      <integer>35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>35</integer>
      <key>public.kern2.s</key>
      <integer>35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1._amp</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>35</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-105</integer>
      <key>public.kern2.Y</key>
      <integer>-105</integer>
      <key>public.kern2._five</key>
      <integer>-35</integer>
      <key>public.kern2._four</key>
      <integer>-35</integer>
      <key>public.kern2._seven</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._at</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.O</key>
      <integer>35</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-105</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._back</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-105</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-140</integer>
      <key>public.kern2.Y</key>
      <integer>-105</integer>
      <key>public.kern2.Z</key>
      <integer>35</integer>
      <key>public.kern2.g</key>
      <integer>105</integer>
      <key>public.kern2.p</key>
      <integer>105</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-105</integer>
      <key>public.kern2.x</key>
      <integer>35</integer>
      <key>public.kern2.z</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1._colon</key>
    <dict>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2._four</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._dash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.O</key>
      <integer>35</integer>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._one</key>
      <integer>-35</integer>
      <key>public.kern2._seven</key>
      <integer>-35</integer>
      <key>public.kern2._two</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._eight</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>35</integer>
      <key>public.kern2._five</key>
      <integer>-35</integer>
      <key>public.kern2._four</key>
      <integer>-35</integer>
      <key>public.kern2._one</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2._seven</key>
      <integer>-35</integer>
      <key>public.kern2._two</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._four</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>35</integer>
      <key>public.kern2._dash</key>
      <integer>35</integer>
      <key>public.kern2._four</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2._seven</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._one</key>
    <dict>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._eight</key>
      <integer>-35</integer>
      <key>public.kern2._five</key>
      <integer>-35</integer>
      <key>public.kern2._four</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2._seven</key>
      <integer>-35</integer>
      <key>public.kern2._slash</key>
      <integer>35</integer>
      <key>public.kern2._zero</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._period</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.T</key>
      <integer>-105</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-140</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._eight</key>
      <integer>-35</integer>
      <key>public.kern2._five</key>
      <integer>-35</integer>
      <key>public.kern2._four</key>
      <integer>-35</integer>
      <key>public.kern2._seven</key>
      <integer>-70</integer>
      <key>public.kern2._zero</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-35</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.p</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-105</integer>
      <key>y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1._quote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-175</integer>
      <key>public.kern2.J</key>
      <integer>-175</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._four</key>
      <integer>-105</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.f</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._seven</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>-70</integer>
      <key>public.kern2._colon</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._eight</key>
      <integer>-35</integer>
      <key>public.kern2._five</key>
      <integer>-70</integer>
      <key>public.kern2._four</key>
      <integer>-175</integer>
      <key>public.kern2._period</key>
      <integer>-105</integer>
      <key>public.kern2._slash</key>
      <integer>-70</integer>
      <key>public.kern2._two</key>
      <integer>-35</integer>
      <key>public.kern2._zero</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._slash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-140</integer>
      <key>public.kern2.J</key>
      <integer>-140</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.X</key>
      <integer>-35</integer>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2._five</key>
      <integer>-35</integer>
      <key>public.kern2._four</key>
      <integer>-105</integer>
      <key>public.kern2._one</key>
      <integer>-35</integer>
      <key>public.kern2._seven</key>
      <integer>35</integer>
      <key>public.kern2._zero</key>
      <integer>-35</integer>
      <key>public.kern2.f</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-105</integer>
      <key>public.kern2.i</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.n</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-105</integer>
      <key>public.kern2.p</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-105</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1._two</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>35</integer>
      <key>public.kern2._five</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1._zero</key>
    <dict>
      <key>public.kern2._five</key>
      <integer>-35</integer>
      <key>public.kern2._four</key>
      <integer>-35</integer>
      <key>public.kern2._one</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._two</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>exclam</key>
      <integer>105</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>105</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-70</integer>
      <key>public.kern2._question</key>
      <integer>105</integer>
      <key>public.kern2._quote</key>
      <integer>70</integer>
      <key>public.kern2._slash</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2._colon</key>
      <integer>35</integer>
      <key>public.kern2._question</key>
      <integer>70</integer>
      <key>public.kern2._quote</key>
      <integer>35</integer>
      <key>public.kern2._slash</key>
      <integer>105</integer>
      <key>public.kern2.g</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._colon</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._slash</key>
      <integer>35</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2._slash</key>
      <integer>35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2._back</key>
      <integer>-140</integer>
      <key>public.kern2._quote</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>35</integer>
      <key>public.kern2._back</key>
      <integer>-105</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2._back</key>
      <integer>-105</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
      <key>public.kern2._slash</key>
      <integer>105</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>-35</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-70</integer>
      <key>public.kern2._period</key>
      <integer>-105</integer>
      <key>public.kern2._slash</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.b</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2._back</key>
      <integer>-105</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2._question</key>
      <integer>-35</integer>
      <key>public.kern2._quote</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2._back</key>
      <integer>-70</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>-35</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-105</integer>
      <key>public.kern2._slash</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.g</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>-35</integer>
      <key>public.kern2._at</key>
      <integer>-35</integer>
      <key>public.kern2._back</key>
      <integer>-70</integer>
      <key>public.kern2._colon</key>
      <integer>-35</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
      <key>public.kern2._period</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2._amp</key>
      <integer>35</integer>
      <key>public.kern2._back</key>
      <integer>-70</integer>
      <key>public.kern2._dash</key>
      <integer>-35</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-35</integer>
    </dict>
  </dict>
</plist>
